nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a {
  font-size: 0.85rem;
  text-transform: uppercase;
  background: #827191;
  border-radius: 5px;
  color: #f3eff5;
}
