/* MessagesComponent's private CSS styles */
#AllMessages {
  padding: 10px;
  background: #084c61;
  border: solid 1px rgba(80, 250, 177, 0.8);
  margin: 20px 0;
}

.TitreBlocMessages {
  display: flex;
  align-items: top;
  justify-content: space-between;
}

h2 {
  color: rgba(80, 250, 177);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 0.6rem;
  margin-top: 0;
}

.clear {
  color: #084c61;
  background-color: #50ffb1;
  margin: 0px;
  padding: 0rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  width: 20px;
  line-height: 20px;
  height: 20px;
}
.clear:hover {
  background-color: #084c61;
  color: #50ffb1;
}

.ListeMessages {
  color: #50ffb1;
  font-size: 0.6rem;
}
